<div class="login-container">
    <div class="login-box">
      <div class="left-section">
        <img src="assets/LogoINSOMEA.png" class="card-img-top img-fluid" alt="insomea">
      </div>
      <div class="right-section">
        <form class="login-form" (ngSubmit)="onSubmit()">
          <h3 class="text-center mb-4">Sign In</h3>
  
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="credentials.email" name="email" required>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="credentials.password" name="password" required>
          </div>
  
          <button type="submit" class="btn btn-primary w-100">Sign In</button>
  
          <div class="mt-3 text-center">
            <a href="/signup" class="text-decoration-none">Don't have an account? Sign up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  